DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"

PORT=3000

SESSION_SECRET="your_session_secret"

# Supabase Storage

SUPABASE_URL="https://<project-ref>.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="your_service_role_key"
SUPABASE_STORAGE_BUCKET="you_storage_bucket"